<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Base</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Todas Bases Cadastradas</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Codigo </th>
						<th>Nome </th>
						<th>Nome</th>
						<th>Cidade</th>
						<th>UF</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="base : ${base}">
						<td th:text="${base.codBase}"></td>
						<td th:text="${base.nomeBase}"></td>
						<td th:text="${base.cidade}"></td>
						<td th:text="${base.UF}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>


</html>